# Dependencies
node_modules/
alumni-website/node_modules/

# Env config files
.env
.env.local
alumni-website/.env
alumni-website/.env.local

# VS Code config
.vscode/
alumni-website/.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
